!!!
%html
	%head
		%title CvUploader
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body
		%header.navbar.navbar-fixed-top.navbar-inverse
			.navbar-inner
				.container
					= link_to "Home", root_path, class: 'brand'
		= yield