
%h1{:style => 'margin-top: 50px;'}
	.text-center Tu es étudiant à l'UCL ?
%h2
	.text-center Fait corriger ton CV par des pro
%br
.panel.panel-default
	.panel-body
		.form-horizontal
			= form_for @user do |f|
				= render 'error_messages', object: f.object
				= render 'success_message', notice: notice
				.form-group
					= f.label :ton_cv, "TON CV", class: "col-md-3 control-label"
					.col-md-9
						= f.file_field :cv
				.form-group
					= f.label :mail, "MAIL", class: "col-md-3 control-label"
					.col-md-9
						= f.text_field :email, class: "form-control"
				.form-group
					= f.label :faculté, "FACULTÉ", class: "col-md-3 control-label"
					.col-md-9
						= f.text_field :faculty, class: "form-control"
				
				= f.submit "Envoyer pour faire corriger", class:"btn btn-primary btn-lg btn-block"

%center
	%p{:style => 'color: #FFFFFF;'}
		Avec le soutient du
		= link_to 'CIO', 'http://www.uclouvain.be/cio'

	%p
		= link_to image_tag("logokaps.png", height: '100'), 'http://www.kapuclouvain.be/'