.span6.offset3
	%h2
		.text-center Tu es étudiant à l'UCL ?
	%h2 
		.text-center Fait corriger ton CV par des pro
	.panel.panel-default
		.panel-body
			.form-horizontal
				= form_for @user do |f|
					= render 'error_messages', object: f.object
					.control-group
						= f.label :ton_cv, "TON CV", class: "control-label"
						.controls
							= f.file_field :cv
					.control-group
						= f.label :mail, "MAIL", class: "control-label"
						.controls
							= f.text_field :email
					.control-group
						= f.label :faculté, "FACULTÉ", class: "control-label"
						.controls
							= f.text_field :faculty
					= f.submit "Envoyer pour faire corriger", class:"btn btn-primary btn-lg btn-block"