%h2
	.text-center Tu es étudiant à l'UCL ?
%h2 
	.text-center Fait corriger ton CV par des pro

.form-horizontal
	= form_for@user, class: "form-horizontal" do |f|
		= render 'error_messages', object: f.object
		.form-group
			= f.label :ton_cv, "TON CV", class: "col-sm-2 control-label"
			.col-sm-10
				= f.file_field :cv, class: "form-control"
		.form-group
			= f.label :mail, "MAIL", class: "col-sm-2 control-label"
			.col-sm-10
				= f.text_field :email, class: "form-control"
		.form-group
			= f.label :faculté, "FACULTÉ", class: "ccol-sm-2 control-label"
			.col-sm-10
				= f.text_field :faculty, class: "form-control"
		= f.submit "Envoyer pour faire corriger", class:"btn btn-primary btn-lg btn-block"