!!!
%html
	%head
		%title CvUploader
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body
		.navbar.navbar-default.navbar-fixed-top
			.navbar-header
				.container-fluid{:style => 'padding: 5px 0px 0px 20px;'}
					= link_to image_tag("logo-ccii-kot-emploi.png", height: '70'), root_path, class: 'brand'
		.container
			.row
				.col-md-6.col-md-offset-3
					= yield
